absl-py==0.6.1
astor==0.7.1
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.7
backcall==0.2.0
bleach==1.5.0
certifi==2021.5.30
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.4.4
coverage==5.5
coveralls==3.0.1
cupy-cuda90==6.0.0
cycler==0.10.0
dask==1.1.4
dataclasses==0.8
decorator==4.4.2
dill==0.2.8.2
docopt==0.6.2
easydict==1.9
fastrlock==0.4
git-filter-repo==2.32.0
html5lib==0.9999999
idna==2.8
imageio==2.3.0
ipykernel==5.3.4
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.17.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
matplotlib==3.3.4
mkl-random==1.0.2
mkl-service==2.3.0
networkx==2.2
numexpr==2.6.8
numpy==1.18.1
opencv-python==3.4.8.29
-e git+https://github.com/philshams/behavior-opto-analysis.git@2eeee59259a28d5ce7567c489748b67453f5f498#egg=opto_analysis
pandas==0.24.1
parso==0.8.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==1.0.18
pycodestyle==2.7.0
Pygments==2.8.1
pyparsing==3.0.6
pyreadline==2.1
python-dateutil==2.7.3
pytz==2018.9
PyWavelets==1.0.1
pywin32==227
PyYAML==6.0
pyzmq==20.0.0
requests==2.22.0
scikit-image==0.14.2
scipy==1.1.0
simplegeneric==0.8.1
six==1.12.0
statsmodels==0.10.1
tables==3.4.4
toml==0.10.2
tornado==6.1
tqdm==4.28.1
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.2.5
wincertstore==0.2
